table.table_catalog {
    width: 800px !important;
    margin: auto;
}

div.div-h-50 {
    height: 50px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.wh-description {
    max-height: 100px !important;
    width: 300px !important;
    margin: auto;
}
